<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @business_profile.owner %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business_profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business_profile.description %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @business_profile.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @business_profile.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @business_profile.linkedin %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business_profile.url %>
</p>

<p>
  <strong>Google:</strong>
  <%= @business_profile.google %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business_profile.address %>
</p>

<p>
  <strong>Building:</strong>
  <%= @business_profile.building %>
</p>

<p>
  <strong>City:</strong>
  <%= @business_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business_profile.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @business_profile.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business_profile.country %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @business_profile.logo %>
</p>

<p>
  <strong>Image:</strong>
  <%= @business_profile.image %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business_profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business_profile.phone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @business_profile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @business_profile.longitude %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @business_profile.slug %>
</p>

<p>
  <strong>Category:</strong>
  <%= @business_profile.category %>
</p>

<%= link_to 'Edit', edit_business_profile_path(@business_profile) %> |
<%= link_to 'Back', business_profiles_path %>
